name: 'Terraform Deployment'

on:
  # push:
  #   branches:
  #     - master
  workflow_dispatch:
env:
  TF_VERSION: 1.6.6
  WORKING_DIR: Terraform
  TF_VARS_FILE: envs/Test/terraform.tfvars
jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: checkout Repository
        uses: actions/checkout@v2
      - name: Set Up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ env.TF_VERSION }}
      - name: Azure login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Terraform init
        run: terraform init
      - name: Terraform plan
        working-directory: Terraform
        run: terraform plan -input=false -var-file=${{ env.TF_VARS_FILE }} -out=tfplan
      - name: Terraform Apply
        working-directory: Terraform
        run: terraform apply -auto-approve tfplan
