name: 'Terraform Deployment'

on:
  # push:
  #   branches:
  #     - master
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  TF_VERSION: 1.6.6
  WORKING_DIR: Terraform
  TF_VARS_FILE: envs/Test/terraform.tfvars
jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: Dev

    steps:
      - name: checkout Repository
        uses: actions/checkout@v2
      - name: Set Up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ env.TF_VERSION }}
      - name: Azure login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          #creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Terraform init
        working-directory: Terraform
        env:
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
        run: terraform init
      - name: Terraform plan
        working-directory: Terraform
        run: terraform plan -input=false -var-file=${{ env.TF_VARS_FILE }} -out=tfplan
      - name: Terraform Apply
        working-directory: Terraform
        run: terraform apply -auto-approve tfplan
